body {
    font-size: 1em;
    line-height: 1.4;
	line-height: 1.5;
	box-sizing: border-box;
	margin: 0;
	overflow-x: hidden;
	top: 0;
	left: 0;
}
a{
	text-decoration: none;
	color: rgba(34,54,69,.7);
	font-weight: 500;
}
a:hover{

	/*background-color: #d2e0d3;*/
}
ul{

	list-style-type: none;
}
.navbar{
	background-color: white;
	padding: 3rem, 1rem;
	height: 0rem;
	min-height: 14vh;
}
.navbar .navbar-brand a {
	padding: 1rem 0;
	display: block;
	text-decoration: none;
}
.navbar-brand{
	font-size: 2.5rem;
	background-color: #fff;

}
.navbar-toggler {
	background-color: #080808;
	border: none;
	padding: 10px, 6px;
	outline: none;

}
.navbar-toggler span {
	display: block;
	width: 22px;
	height: 2px;
	border: 1px;
	background-color: #fff;*

}
.navbar-toggler span + span {
	margin-top: 4px;
	width: 18px;
	margin-left: 4px;

}
.navbar-toggler span + span + span  {
	width: 10px;
	margin-left: 4px;

}
.navbar-expand-lg .navbar-nav .nav-link{
	padding: 2rem, 1.2rem;
	font-size: 1rem;
	position: relative;

}
.navbar-expand-lg .navbar-nav .nav-link:hover{
	border-top: 2px solid;
	border-radius: 5px;
}
.navbar-expand-lg .navbar-nav .nav-link:active{
	border-top: 4px solid;
}	
.navbar-nav .btn {

	color: white;
	border-radius: 0;
	padding: 1rem 1.5rem;
	font-size: 1.2rem;
	margin-top: 1px;

}
.img-corpo-tecnico{

	width: 120px;
	height: 120px;
	border-radius: 60px;

}
.clientes-imagem{

	width: 70%;

}
.parceiros-imagem{

	width: 70%;
	
}
.divider6 {

	background-image: url('../img/bg/divider6.jpg');
	
}
.section-divider {
    z-index: 999;
    width: 100%;
    display: table;
    max-height: 450px;
    border-bottom: 2px solid #E6EAED;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-top: 45px;


    background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-attachment: relative;
    
    text-align: center;
}

.textdivider h1 {
	padding-top: 70px;
	color: white;
	font-size: 40px;
}

.textdivider p {
	color: white;
	font-size: 25px;
}
hr {
    position: relative;
    border: none;
}

hr:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #0a0000;
}
.botao-lado-direito{
	float: right;
	background-color: #ffffff;
	border: none;
	border-radius: 50px;
}
.botao-lado-esquerdo{
	border: none;
	background-color: #ffffff;
	border-radius: 50px;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */
#headerwrap {
	background: url(../img/2.jpg) no-repeat right top;
	margin-top: 30px;
	padding-top:20px;
	text-align:left;
	background-attachment: relative;
	/* background-position: center center; */
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap .h1 {
	color:#ffffff;
	margin-top: 100px;
	margin-left: 30px;
	padding-bottom: 30px;
	/* letter-spacing: 8px;	 */
	font-size: 60px;
	font-weight: bold;
	/* text-shadow: 2px 2px 2px #000; */
}
#headerwrap .h2 {
	color:#ffffff;
	margin-top: 150px;
	margin-left: 130px;
	padding-bottom: 30px;
	/* letter-spacing: 8px;	 */
	font-size: 30px;
	font-weight: bold;
	line-height:150%;
	text-shadow: 1px 1px 2px black;

	/* text-shadow: 2px 2px 2px #000; */
}

@media only screen and (max-width: 600px) {
#headerwrap .h2 {
	color:#ffffff;
	margin-top: 100px;
	margin-left: 30px;
	padding-bottom: 30px;
	/* letter-spacing: 8px;	 */
	font-size: 20px;
	font-weight: bold;
	line-height:150%;
	text-shadow: 1px 1px 2px black;

	/* text-shadow: 2px 2px 2px #000; */
}
}

#headerwrap p {
	color:#ffffff;
	font-size: 40px;
	margin-left: 7%;
	font-weight: 400;
	text-align: left;
	line-height: 40px;
	letter-spacing: 0px;
	/* margin-left: 15px; */
	/* text-shadow: 1px 1px 1px #000; */
}

#greywrap {
	background: #FFFFFF;
	margin-top: 0px;
	padding-top: 30px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

#greywrap .callout {
	margin-bottom: 20px;
}

#greywrap p {
	margin-left: 30px;
	margin-right: 30px;
	letter-spacing: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#greywrap .icon {
	font-size: 60px;
	line-height: 30px;
	margin-bottom: 10px;
}

#footerwrap {
	background: #849E25;
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

#footerwrap h4 {
	color: white;
	font-size: 18px;
}
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media screen and (max-width:1050px), screen and (max-device-width:1050px){
	body .header{background-attachment: scroll;}
}


/*ipad portrait*/
@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait){
	.header{background-attachment: scroll;}
}

@media screen and (max-width:530px) {
	#headerwrap {
		margin-top: 0px;
		height: 60vh;
		margin-top: 0;
		margin-left: 0px;
		min-height: 70vh;
		background: url(../img/2.jpg) no-repeat right bottom;
		background-position: bottom right -30px;
	}
	#headerwrap .h1 {
		text-align: center;
		font-size: 2.3rem;
		padding: 0;
		margin-left: 0px;
		min-height: 0px;
		padding-top: 60px;
		margin-top: 0px;
	}
	#headerwrap p {
		font-size: 1.8rem;
		text-align: center;
		margin-left: 0px;
		line-height: 38px;
	}
}
